# default packages available across all runtimes
beautifulsoup4
httplib2
kafka_python
python-dateutil
requests
scrapy
simplejson
twisted
netifaces
pyyaml
redis
boto3
pg8000
pymongo
minio
openai
langchain
farm-haystack
nltk
langdetect
plotly
ollama
joblib
lightgbm
feedparser
numpy
scikit-learn
bcrypt
