beautifulsoup4
ollama
openai
pymilvus
redis
pillow
nltk
httplib2
kafka_python
python-dateutil
requests
scrapy
simplejson
twisted
netifaces
pyyaml
boto3
pg8000
pymongo
minio
langdetect
plotly
joblib
lightgbm
feedparser
numpy
scikit-learn
langchain
langchain-ollama
langchain-openai
langchain-anthropic
langchain-together
langchain-milvus
bcrypt
chevron
